<template>
  <div class="page-inner">
    <div class="container">
      <LayoutBreadcrumbs
        :crumbs="breadcrumbs"
        class="breadcrumbs"
      />
      <h1 class="title">Личный кабинет</h1>
      <div class="cabinet-main">
        <cabinet-aside />
        <main class="user-daata">
          <div class="orders">
            <div class="orders_header">
              <span>Заказ</span>
              <span>Количество</span>
              <span>Сумма</span>
            </div>
            <div class="orders_body">
              <div v-for="(order,i) in orders" :key="i">
                <span>{{ order.id }}</span>
                <span>{{ order.count }}</span>
                <span>{{ order.total_price }} ₸</span>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware({ $cookies, redirect }) {
    if(!$cookies.get('auth-token')) {
      redirect('/login')
    }
  },
  data() {
    return {
      breadcrumbs: [
        {
          title: 'Главная',
          url: '/',
        },
        {
          title: 'Личный кабинет',
          url: '/cabinet'
        }
      ],
      orders: []
    }
  },
  beforeMount(){
    this.$axios.$get('/order/history').then(data => {
        this.orders = data.order;
        console.log(data)
        let requestString = '/cart/multiple?';
        this.orders.forEach(order => {
            requestString += 'id[]=' + order.id + '&';
        });
        console.log(requestString);
        this.$axios.$get(requestString).then(data => {
            this.cartItems = data.products;
            console.log(data.products);
            this.orders = this.orders.map((obj,i) => {
              return {...obj, ...data.products[i]}
            });
            console.log(this.orders);
        }).catch(err => {
            console.error(err);
        });
    }).catch(err => {
        console.error(err);
    });
  }
}
</script>

<style lang="scss" scoped>
.breadcrumbs {
  margin-bottom: 36px;
}

main{
  width: 100%;
  position: relative;
  .orders{
    margin-left: 5%;
    width: 90%;
    &_header{
      width: auto;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid lightgray;
      &>span{
        margin: 15px;
      }
    }
    &_body{
      width: auto;
      &>div{
        display: flex;
        padding: 10px;
        justify-content: space-between;
        &>span{
          margin: 15px;
        }
      }
    }
  }
}

h1.title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 24px;
}

.cabinet-main {
  display: flex;
}
</style>