<template>
  <footer class="footer">
    <div class="container">
      <div class="main-block footer-block">
        <img src="@/assets/img/melissaLogo.png" class="logo">
        <div class="socials">
          <!-- <a href="#"><img src="@/assets/icons/fb-socials.svg" alt=""></a> -->
          <!-- <a href="#"><img src="@/assets/icons/inst-socials.svg" alt=""></a> -->
          <a v-for="img in imgs" :href="img.link" :key="img.id">
            <img :src="'https://api.melissaapteka.kz/storage/'+img.image" alt="">
          </a>
        </div>
        <span>© Melissa 2021</span>
      </div>
      <div class="info-block footer-block">
        <h2 class="footer-title">Информация</h2>
        <div class="links">
          <nuxt-link to="/news">Новости</nuxt-link>
          <nuxt-link to="/about">О компании</nuxt-link>
          <nuxt-link to="/contacts">Контакты</nuxt-link>
          <nuxt-link to="/vacancies">Карьера</nuxt-link>
          <nuxt-link to="/partners">Партнеры</nuxt-link>
        </div>
      </div>
      <div class="customer-block footer-block">
        <h2 class="footer-title">Покупателю</h2>
        <div class="links">
          <nuxt-link to="/delivery">Доставка и оплата</nuxt-link>
          <nuxt-link to="/howto">Как сделать заказ</nuxt-link>
          <nuxt-link to="/questions">Вопросы и ответы</nuxt-link>
          <!-- <nuxt-link to="/">Контроль качества</nuxt-link> -->
          <nuxt-link to="/blogs">Блог</nuxt-link>
        </div>
      </div>
      <div class="documents-block footer-block">
        <h2 class="footer-title">Документы</h2>
        <div class="links">
          <nuxt-link to="/policy">Политика конфиденциальности</nuxt-link>
          <nuxt-link to="/contract">Договор публичной оферты о предоставлении услуг</nuxt-link>
          <nuxt-link to="/conditions">Условия возврата и обмена</nuxt-link>
        </div>
      </div>
      <div class="contacts-block footer-block">
        <h2 class="footer-title">Контакты</h2>
        <div class="links">
          <a href="tel:+77273122220">+7 (727) 312 22 20</a>
          <a href="mailto:order@melissa.kz">order@melissa.kz</a>
          <span>Режим работы 24/7</span>
          <a href="tel:+77272938543">+7 (727) 293 85 43</a>
          <a href="tel:+77272910888">+7 (727) 291 08 88</a>
        </div>
      </div>
    </div>
      <hr>
    <div class="made-in-alux">
      <div class="made-in-alux-text">
        <p>Сделано в</p>
        <a href="https://www.a-lux.kz/">
        <img src="@/assets/img/logos/a_lux-logo.png" alt=""></a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  data(){
    return{
      imgs:''
    }
  },
  created(){
    this.$axios.$get('/social-media').then((res)=>{
        console.log(res)
        this.imgs = res.socialMedia
    })
  }
}
</script>

<style lang="scss" scoped>
.made-in-alux{
  max-width: 1220px;
    padding: 0 30px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
}
.made-in-alux-text{
  display: flex;
  flex-direction: row;
}
.made-in-alux-text p {
   margin-right: 1rem;
}
footer.footer {
  padding: 50px 0 70px 0;
  background: #05054B;
  color: #fff;
}

footer.footer .container{
  display: flex;
  justify-content: space-between;
  .footer-block {
    display: flex;
    flex-direction: column;
    img.logo {
      width: 120px;
      margin-bottom: 12px;
    }
    .socials {
      display: flex;
      /* justify-content: space-between; */
      margin-bottom: 12px;
    }
    span {
      font-size: 14px;
    }
    .footer-title {
      margin-bottom: 18px;
      font-weight: 700;
      font-size: 20px;
    }
    .links {
      display: flex;
      flex-direction: column;
      max-width: 230px;
      a, span {
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 992px){
  footer.footer .container {
    max-width: 300px;
    flex-direction: column;
    align-items: flex-start;
  }
  .container{
    align-items: center;
  }
  footer.footer .container .footer-block {
    align-items: flex-start;
    margin-bottom: 24px;
  }
  .main-block.footer-block {
    align-items: center;
    order: 5;
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
}
</style>