<template>
  <header :class="['header',showDownload ? 'header-big' : '']">
    <div :class="['container', showDownload ? 'header-diff' : '']">
    <div v-if="this.showDownload" class="mobile-modal">
      <div class="melissa-logo">
        <img src="@/assets/img/melissaLogo.png" alt="" class="logo" width="60px">
      </div>
      <div class="mobile-modal-text">
        <p class="mobile-title">Melissa</p>
        <p class="official-app">Официальное приложение</p>
        <img src="@/assets/img/five-stars.png" alt="" width="120px">
      </div>
      <a :href="this.linkToApp">Установить</a>
    </div>
        <burger />
      <div class="header-main">
        <nuxt-link to="/" class="logo-container">
          <img src="@/assets/img/melissaLogo.png" alt="" class="logo" width="120px">
        </nuxt-link>
        <nav class="navbar">
          <ol>
            <li>
              <img src="@/assets/icons/pin.svg" class="pin-icon">
              <span>Алматы</span>
            </li>
            <li v-for="link in links" :key="link.id"><nuxt-link style="white-space: nowrap;" :to="link.link">{{ link.title }}</nuxt-link></li>
          </ol>
        </nav>
      </div>
      <div class="actions-btn">
        <nuxt-link to="/cabinet" class="cabinet">
          <img src="@/assets/icons/user.svg" alt="" class="user-icon">
          <span>Личный кабинет</span>
        </nuxt-link>
        <div class="lang-picker">
          <div class="picker-main">
            <span>Ru</span>
            <img src="@/assets/icons/chevron-down.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="toast" v-if="isToastContent.isToast" :style="{'background-color':isToastContent.backgroundColor}" v-html="isToastContent.content"> -->
    <!-- </div> -->
  </header>
</template>

<script>
import {mapState} from 'vuex';

export default {
  data(){
    return{
      links:[],
      linkToApp: '',
      showDownload: true
    }
  },
  mounted(){
    if(localStorage.modal){
      this.showDownload = false
    }
    if(window.innerWidth > 767){
      this.showDownload = false
    }
    let plat = navigator.platform.toLowerCase()
    if(plat.includes('iphone') || plat.includes('ipad') || plat.includes('mac')){

    }else{
      this.linkToApp = 'https://play.google.com/store/apps/details?id=kz.alux.melissa'
    }
    setTimeout(() => {
      this.showDownload = false
      if(!localStorage.modal){
        localStorage.setItem('modal', 1)
      }
    }, 10000);
  },
  async fetch() {
    let res = await fetch('https://api.melissaapteka.kz/api/header')
    let response = await res.json()
    this.links = response.headerElements
  },
  computed: {
    ...mapState('cart',['isToastContent'])
  },
}
</script>

<style lang="scss" scoped>
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #3F414E;
  text-decoration: none;
}

header.header {
  height: 95px;
  border-bottom: 1px solid #DEE0E4;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-main {
  display: flex;
  align-items: center;
  .logo-container {
    margin-right: 60px;
  }
  nav {
    width: 400px;
    ol {
      display: flex;
      justify-content: flex-start;
    }
  }
  nav ol li {
    margin-right: 2.5rem;
    display: flex;
    align-items: center;
  }
  img.pin-icon {
    margin-right: 6px;
  }
}

.actions-btn {
  display: flex;
  align-items: center;
  .cabinet {
    display: flex;
    align-items: center;
    margin-right: 18px;
    img {
      margin-right: 6px;
    }
    span {
      color: #3BDE15;
    }
  }
  .lang-picker {
    .picker-main {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    img {
      margin-left: 6px;
    }
  }
}
@media(max-width: 767px){
  .mobile-modal{
    position: fixed;
    top: 15px;
    display: flex;
    align-items: center;
  }
  .mobile-modal a{
    padding: 0.5rem;
    background-color: rgb(4, 202, 30);
    color: white;
    border-radius: 10px;
  }
  .mobile-modal *:not(:last-child){
    margin-right: 0.5rem;
  }
  .header-diff{
    align-items: flex-end !important;
  }
  .header-diff > .header-main,.header-diff > .actions-btn{
    margin-bottom: 1rem;
  }
  .header-big{
    height: 180px !important;
  }
  .mobile-modal > a, .official-app{
    font-size: 12px;
  }
  .mobile-title{
    font-size: 14px;
  }
}
@media screen and (max-width: 992px){
  .header .container{
    justify-content: space-between;
  }
  .header-main .logo-container{
    margin-right:0px
  }
  .navbar {
    display: none;
  }
}

@media screen and (max-width: 576px){
  .actions-btn .cabinet img.user-icon {
    width: 24px;
    height: 24px;
    margin-right: 0;
    ~ span {
      display: none;
    }
  }
}

</style>