<template>
    <div class="hamburger-menu">
        <input @click="visible = true" :checked="visible" id="menu__toggle" type="checkbox" />
        <label sty  class="menu__btn" for="menu__toggle">
            <span></span>
        </label>

        <ul :class="['menu__box', visible ? 'visible' : 'not-visible']">
            <li v-for="link in links" @click="visible = false" :key="link.id"><nuxt-link class="menu__item" style="white-space: nowrap;" :to="link.link">{{ link.title }}</nuxt-link></li>
        </ul>
    </div>
</template>

<script>
export default {
    name:'burger',
    data(){
      return{
        visible:false,
        links:[]
      }
    },
    async fetch() {
      let res = await fetch('https://api.melissaapteka.kz/api/header')
      let response = await res.json()
      console.log(response.headerElements)
      this.links = response.headerElements
  },
}
</script>

<style scoped>
 .hamburger-menu{
    display: none;
}
#menu__toggle {
  opacity: 0;
}

.menu__box{
    z-index: 1;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  width: 100%;

  left: 0;
}
.visible{
  visibility: visible;
}
.not-visible{
  visibility: hidden;
}
.mobile-logo{
  margin: 2rem auto;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 40px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
@media(max-width:1050px){
    .hamburger-menu{
        display: block;
    }
}
</style>