<template>
  <client-only>
    <div class="product-page">
      <div class="container">
        <layout-breadcrumbs :crumbs="breadcrumbs" class="product-breadcrumbs" />
        <div class="page-main">
          <section class="product-main-info">
            <slick
              class="slick-container-nav"
              ref="slick"
              :options="navSlickOptions"
              v-if="
                productData.images &&
                Array.isArray(productData.images) &&
                !adaptive
              "
            >
              <img
                class="slide"
                v-for="(image, index) in productData.images"
                :key="index"
                :src="'https://api.melissaapteka.kz/storage/' + image"
                alt=""
              />
            </slick>
            <slick
              class="slick-container-nav"
              ref="slick"
              :options="navSlickOptions"
              v-else-if="!adaptive"
            >
              <img
                class="slide"
                :src="
                  productData.images != null
                    ? 'https://api.melissaapteka.kz/storage/' +
                      productData.images
                    : '@/assets/img/product-placeholder.png'
                "
                alt=""
              />
            </slick>
            <slick
              class="slick-container-main"
              ref="slick"
              :options="mainSlickOptions"
              v-if="productData.images && Array.isArray(productData.images)"
            >
              <div
                class="slide"
                v-for="(image, index) in productData.images"
                :key="index"
              >
                <img
                  :src="'https://api.melissaapteka.kz/storage/' + image"
                  alt=""
                />
              </div>
            </slick>
            <slick
              class="slick-container-main"
              ref="slick"
              :options="mainSlickOptions"
              v-else
            >
              <div class="slide">
                <img
                  :src="
                    productData.images != null
                      ? 'https://api.melissaapteka.kz/storage/' +
                        productData.images
                      : require('@/assets/img/product-placeholder.png')
                  "
                  alt=""
                />
              </div>
            </slick>
            <slick
              style="margin: 1rem 0"
              class="slick-container-nav"
              ref="slick"
              :options="navSlickOptions"
              v-if="
                adaptive &&
                productData.images &&
                Array.isArray(productData.images)
              "
            >
              <img
                class="slide"
                v-for="(image, index) in productData.images"
                :key="index"
                :src="'https://api.melissaapteka.kz/storage/' + image"
                alt=""
              />
            </slick>
            <div class="info-block" style="margin-top: 1rem">
              <h1 class="title">{{ productData.full_name }}</h1>
              <h2 class="price">
                {{
                  Intl.NumberFormat("ru-RU").format(
                    +productData.discount_price
                      ? productData.discount_price
                      : productData.price
                  ) + " ₸"
                }}
              </h2>
              <div
                class="stock"
                :class="{
                  instock: productData.stock,
                  notinstock: !productData.stock,
                }"
              >
                <img
                  src="~/assets/icons/in-stock.svg"
                  alt=""
                  v-if="productData.stock"
                />
                <img src="~/assets/icons/not-in-stock.svg" alt="" v-else />
                <span>{{
                  productData.stock ? "В наличии" : "Нет в наличии"
                }}</span>
              </div>
              <div
                class="general-info"
                v-if="productData.generalInfo && productData.generalInfo.length"
              >
                <ProductInfoLine
                  v-for="(data, index) in productData.generalInfo"
                  :key="index"
                  :title="data.title"
                  :value="data.value"
                />
              </div>
              <div class="cart-actions-block">
                <div class="quantity">
                  <div class="minus-btn" @click="removeOne">-</div>
                  <input
                    type="number"
                    name="quantity"
                    id="quantity"
                    min="1"
                    max="999"
                    v-model="quantity"
                    @blur="validate"
                  />
                  <div class="plus-btn" @click="addOne">+</div>
                </div>
                <div class="cart-actions" v-if="productData.stock">
                  <svg
                    width="24"
                    height="24"
                    @click="removeAll"
                    v-if="quantity"
                    class="cart-deleteall"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.33533 13.3333C3.33533 14.0687 3.93333 14.6667 4.66867 14.6667H11.3353C12.0707 14.6667 12.6687 14.0687 12.6687 13.3333V5.33333H14.002V4H11.3353V2.66667C11.3353 1.93133 10.7373 1.33333 10.002 1.33333H6.002C5.26667 1.33333 4.66867 1.93133 4.66867 2.66667V4H2.002V5.33333H3.33533V13.3333ZM6.002 2.66667H10.002V4H6.002V2.66667ZM5.33533 5.33333H11.3353L11.336 13.3333H4.66867V5.33333H5.33533Z"
                      fill="#F94949"
                    />
                    <path
                      d="M6.002 6.66667H7.33533V12H6.002V6.66667ZM8.66867 6.66667H10.002V12H8.66867V6.66667Z"
                      fill="#F94949"
                    />
                  </svg>
                  <div
                    class="cart-add-btn"
                    :class="{ inactive: quantity }"
                    @click="cartClick"
                  >
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1.73193 1.72485H3.03248C3.66041 1.72485 3.97438 1.72485 4.22866 1.83932C4.4528 1.94021 4.64372 2.10263 4.77922 2.30771C4.93295 2.54038 4.98325 2.85029 5.08386 3.47011L5.42319 5.56065M5.42319 5.56065L6.21767 10.4552C6.43892 11.8183 6.54955 12.4998 6.89565 12.9899C7.20033 13.4213 7.62927 13.7496 8.1253 13.9311C8.68878 14.1372 9.37555 14.0659 10.7491 13.9235L19.548 13.0112C20.3213 12.931 20.7079 12.8909 21.0245 12.7709C21.8076 12.4738 22.3995 11.8174 22.6142 11.0078C22.701 10.6805 22.701 10.2918 22.701 9.51442V9.51442C22.701 8.68482 22.701 8.27002 22.6056 7.92776C22.3692 7.07992 21.7196 6.40942 20.8797 6.14632C20.5407 6.04011 20.1261 6.02696 19.2969 6.00066L5.42319 5.56065Z"
                        stroke="#05054B"
                        stroke-width="1.55867"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <ellipse
                        cx="9.40318"
                        cy="19.8079"
                        rx="2.04576"
                        ry="2.19189"
                        stroke="#05054B"
                        stroke-width="1.55867"
                      />
                      <ellipse
                        cx="19.121"
                        cy="19.8079"
                        rx="2.04576"
                        ry="2.19189"
                        stroke="#05054B"
                        stroke-width="1.55867"
                      />
                    </svg>
                    <span v-if="quantity">Уже в корзине</span>
                    <span v-else>В корзину</span>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="product__description" v-html="productData.content"></div>

          <section
            class="product-pharmacological"
            v-if="
              productData.pharmParameters &&
              productData.pharmParameters.length > 0
            "
          >
            <h1 class="title">Фармакологические свойства</h1>
            <ProductPharmaParamLine
              v-for="(pharmParam, index) in productData.pharmParameters"
              :key="index"
              :title="pharmParam.title"
              :value="pharmParam.value"
            />
          </section>
          <section
            class="product-pharmacological-descr"
            v-if="productData.pharmDescr"
          >
            <h1 class="title">Фармакологические свойства</h1>
            <p>{{ productData.pharmDescr }}</p>
          </section>
          <section
            class="analog-list"
            v-if="productData && productData.length > 0"
          >
            <h1 class="title">Аналоги</h1>
            <div class="products-container">
              <product-card-vertical
                v-for="(product, index) in productData"
                :key="index"
                :name="product.name"
                :price="product.price"
                :oldPrice="product.oldPrice"
                :discount="product.discount"
                :productId="product.productId"
                :isFavorite="product.isFavorite"
                :image="product.images"
              />
            </div>
          </section>
        </div>
      </div>
    </div>
  </client-only>
</template>

<script>
import Slick from "vue-slick";
import "slick-carousel/slick/slick.css";
import { mapMutations, mapState } from "vuex";

export default {
  components: {
    Slick,
  },
  data() {
    return {
      adaptive: innerWidth < 767 ? true : false,
      navSlickOptions: {
        vertical: true,
        verticalSwiping: true,
        slidesToShow: 4,
        arrows: false,
        waitForAnimate: false,
        asNavFor: ".slick-container-main",
        focusOnSelect: true,
        responsive: [
          {
            breakpoint: 600,
            settings: {
              horizontalSwiping: false,
              vertical: false,
              slidesToShow: 3,
              slidesToScroll: 1,
            },
          },
          {
            breakpoint: 480,
            settings: {
              horizontalSwiping: false,
              vertical: false,
              slidesToShow: 3,
              slidesToScroll: 1,
            },
          },
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ],
      },
      mainSlickOptions: {
        asNavFor: ".slick-container-nav",
        slidesToShow: 1,
        arrows: false,
        waitForAnimate: false,
      },
    };
  },
  async asyncData({ $axios, params }) {
    const productData = await $axios.$get(
      `https://api.melissaapteka.kz/api/items/${params.id}`
    );
    if (productData.images) {
      if (
        productData.images.includes("\\") &&
        productData.images.includes("[")
      ) {
        productData.images = JSON.parse(productData.images);
      }
    }
    console.log(productData);
    return { productData };
  },
  computed: {
    ...mapState("cart", ["products"]),
    quantity: {
      get() {
        let storeProduct = this.products.filter(
          (product) => product.id == this.productId
        );
        return storeProduct.length ? storeProduct[0].count : 0;
      },
      set(newQuantity) {
        this.setProduct({ productId: +this.productId, count: newQuantity });
      },
    },
    breadcrumbs() {
      return [
        {
          title: "Главная",
          url: "/",
        },
        {
          title: "Каталог",
          url: "/catalog",
        },
        {
          title: this.productData?.category?.title,
          url: "/catalog?category=" + this.productData?.category?.id,
        },
        {
          title: this.productData.full_name,
          url: "/product" + this.productData.id,
        },
      ];
    },
    productId() {
      return this.$route.params.id;
    },
  },
  methods: {
    ...mapMutations({
      setProduct: "cart/setProduct",
    }),
    cartClick() {
      this.quantity || this.addOne();
    },
    addOne() {
      this.quantity++;
      this.validate();
    },
    removeOne() {
      this.quantity--;
      this.validate();
    },
    removeAll() {
      this.quantity = 0;
      this.validate();
    },
    validate() {
      this.quantity = +this.quantity;
      if (this.quantity > 999) {
        this.quantity = 999;
      } else if (this.quantity < 0) {
        this.quantity = 0;
      }
      this.setProduct({ productId: +this.productId, count: this.quantity });
    },
  },
};
</script>

<style lang="scss" scoped>
.product-breadcrumbs {
  margin-bottom: 36px;
}

.product-main-info {
  display: flex;
}

.info-block {
  width: 40%;
  margin-left: 30px;
  h1.title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
  }

  h2.price {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .stock {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    span {
      display: block;
      margin-left: 6px;
      font-weight: 500;
    }
    img {
      display: block;
      width: 16px;
      height: 16px;
    }
    &.notinstock {
      color: #ff4444;
    }
    &.instock {
      color: #3bde15;
    }
  }

  .general-info {
    padding: 24px;
    background: #f5f5f9;
    box-sizing: content-box;
    dt {
      font-weight: 500;
    }
    dd {
      width: 180px;
    }
  }
}

.cart-actions-block {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
  &.flex-end {
    justify-content: flex-end;
  }
  .quantity {
    display: flex;
    border: 2px solid #dee0e4;
    border-radius: 6px;
    width: 110px;
    justify-content: space-between;
    .minus-btn,
    .plus-btn {
      text-align: center;
      width: 30px;
      font-weight: 600;
      font-size: 18px;
      color: #a1a4b2;
      padding: 9px 0;
      cursor: pointer;
      user-select: none;
      transition: background-color 0.3s;
      &:hover {
        background: #ececec;
      }
    }
    input {
      width: 50px;
      outline: none;
      -moz-appearance: textfield;
      text-align: center;
      border: none;
      border-radius: 0;
      border-left: 2px solid #dee0e4;
      border-right: 2px solid #dee0e4;
      font-weight: 600;
      font-size: 18px;
      color: #3f414e;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .cart-add-btn {
    display: flex;
    width: 220px;
    border-radius: 50px;
    height: 54px;
    border: 2px solid #05054b;
    align-items: center;
    justify-content: center;
    color: #05054b;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    &.inactive {
      color: #9e9e9e;
      background: #e2e2e2;
      border-color: #9e9e9e;
      cursor: default;
      svg {
        display: none;
      }
      &:hover {
        color: #9e9e9e;
        background: #e2e2e2;
      }
    }
    svg {
      width: 18px;
      height: 18px;
      margin-right: 9px;
      ellipse,
      path {
        transition: stroke 0.3s;
      }
    }
    &:hover {
      background: #05054b;
      color: #fff;
      svg {
        ellipse,
        path {
          stroke: #fff;
        }
      }
    }
  }
}

.product-pharmacological {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 65%;
  h1.title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 28px;
  }
}

.product-pharmacological-descr {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  h1.title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 28px;
  }
}

.analog-list {
  h1.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .products-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.cart-actions {
  display: flex;
  align-items: center;
  .cart-deleteall {
    margin-right: 12px;
    cursor: pointer;
  }
}
</style>


<style lang="scss">
.slick-container-nav {
  width: 75px;
  margin-right: 30px;

  .slick-list {
    min-height: 300px;
  }
}

.slick-container-main {
  width: 40%;
  border: 2px solid #dee0e4;
  // max-height: max-content;
  .slick-list {
    height: 100%;
    .slick-track {
      height: 100%;
    }
  }
}

.slick-slide {
  & > div {
    width: 100%;
    height: 100%;
    display: flex;
  }
}

.slick-container-main .slide {
  height: 320px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
img.slide {
  height: 90px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .slick-container-nav {
    // height: 165px;
    width: 90%;
    // height: 100px;
  }
  img.slide {
    height: 100%;
  }
  .slick-container-main {
    width: 90%;
  }
  .cart-add-btn {
    margin: 20px 0;
  }
  .product-main-info {
    flex-direction: column;
    align-items: center;
  }
  .slick-list {
    min-height: auto !important;
  }
  .cart-actions-block {
    flex-direction: column;
  }
}
.product__description {
  width: 100%;
  padding: 0 8px;
  margin-top: 32px;
  margin-bottom: 32px;
}
</style>
