<template>
  <main class="user-data" style="position: relative">
    <div class="private-info cabinet-block">
      <h2 class="block-title">Личная информация</h2>
      <div class="block-inner" v-if="!privateEdit">
        <div class="inner-column-30">
          <div class="user-dataline">
            <div class="user-data-label">ФИО</div>
            <div class="user-data-text">{{ userData.user.name }}</div>
          </div>
          <div class="user-dataline">
            <div class="user-data-label">Телефон</div>
            <div class="user-data-text">
              {{
                userData.user.phone_number.includes("+")
                  ? userData.user.phone_number
                  : "+" + userData.user.phone_number
              }}
            </div>
          </div>
        </div>
        <div class="inner-column-30">
          <div class="user-dataline">
            <div class="user-data-label">Дата рождения</div>
            <div class="user-data-text">
              {{
                (userData.user.bDay &&
                  new Intl.DateTimeFormat("ru-RU", {
                    dateStyle: "long"
                  }).format(new Date(userData.user.bDay))) ||
                  "Не указана"
              }}
            </div>
          </div>
          <div class="user-dataline">
            <div class="user-data-label">Почта</div>
            <div class="user-data-text">
              {{ userData.user.email || "Не указана" }}
            </div>
          </div>
        </div>
        <div class="inner-column-30">
          <div class="user-dataline">
            <div class="user-data-label">Пол</div>
            <div class="user-data-text">
              {{ +userData.user.sex == 0 ? "Мужской" : "Женский" }}
            </div>
          </div>
        </div>
      </div>
      <div class="block-inner editing" v-else>
        <div class="inner-column-30">
          <div class="user-dataline">
            <div class="user-data-label">ФИО</div>
            <input
              class="user-data-editing"
              :class="{ 'has-error': $v.userName.$error }"
              type="text"
              v-model.trim="$v.userName.$model"
            />
          </div>
          <div class="user-dataline">
            <div class="user-data-label">Телефон</div>
            <input
              type="text"
              class="user-data-editing phone-edit"
              v-model="userData.user.phone_number"
            />
          </div>
        </div>
        <div class="inner-column-30">
          <div class="user-dataline">
            <div class="user-data-label">Дата рождения</div>
            <VueDatePicker
              v-model="userBDay"
              placeholder="ГГГГ-ММ-ДД"
              :max-date="new Date().toISOString().substr(0, 10)"
              min-date="1901-01-01"
              color="#3BDE15"
            />
          </div>
          <div class="user-dataline">
            <div class="user-data-label">Почта</div>
            <input
              class="user-data-editing"
              :class="{ 'has-error': $v.userEmail.$error }"
              type="text"
              v-model.trim="$v.userEmail.$model"
            />
          </div>
        </div>
        <div class="inner-column-30">
          <div class="user-dataline">
            <div class="user-data-label">Пол</div>
            <select
              name="sex"
              id="sex"
              class="user-data-editing"
              v-model="userSex"
            >
              <option value="1">Женский</option>
              <option value="0">Мужской</option>
            </select>
          </div>
        </div>
      </div>
      <div
        class="save-btn"
        :class="{ disabled: privateHasErrors }"
        v-if="privateEdit"
        @click="saveUserData"
      >
        Сохранить
      </div>
      <span style="color:red" v-if="phoneErr">Укажите корректный номер!</span>
      <span style="color:red" v-if="emailErr">Укажите корректную почту!</span>
      <svg
        class="block-edit"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        @click="privateEdit = !privateEdit"
      >
        <path
          d="M4 17V20H7L16 11L13 8L4 17Z"
          stroke="#A1A4B2"
          stroke-width="1.8"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M15 6L18 9L20.5 6.5L17.5 3.5L15 6Z"
          stroke="#A1A4B2"
          stroke-width="1.8"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>

    <!-- <div class="ads-discounts cabinet-block">
      <h2 class="block-title">Реклама и акции</h2>
      <div class="block-inner">
        <div class="inner-column-40">
          <label for="email" class="notification">
            <input type="checkbox" name="email" id="email" v-model="user.notifications.email">
            <span class="title">Эл. почта</span>
            <div class="switch"></div>
          </label>
        </div>
        <div class="inner-column-40">
          <label for="push" class="notification">
            <input type="checkbox" name="push" id="push" v-model="user.notifications.push">
            <span class="title">Push уведомления</span>
            <div class="switch"></div>
          </label>
        </div>
      </div>
    </div> -->
    <div class="addAddress" v-if="modalAddAddress" @click="modalClose">
      <form class="addAddress_inner">
        <span class="error_field">{{ errorField }}</span>
        <p>
          <label for="cityId">Город:</label>
          <input
            type="text"
            id="cityId"
            v-model="user.currentAddress.city"
            name="cityId"
            required
          />
        </p>
        <p>
          <label for="streetId">Улица:</label>
          <input
            type="text"
            id="streetId"
            v-model="user.currentAddress.street"
            name="streetId"
            required
          />
        </p>
        <p>
          <label for="home_number">Номер дома:</label>
          <input
            type="text"
            id="home_number"
            v-model="user.currentAddress.home_number"
            name="home_number"
            required
          />
        </p>
        <p>
          <label for="home_number">Номер подъезда:</label>
          <input
            type="text"
            id="home_number"
            v-model="user.currentAddress.entrance"
            name="home_number"
            required
          />
        </p>
        <p>
          <label for="flat_number">Номер квартиры:</label>
          <input
            type="text"
            id="flat_number"
            v-model="user.currentAddress.flat_number"
            name="flat_number"
            required
          />
        </p>
        <p>
          <label for="stage_number">Этаж:</label>
          <input
            type="text"
            id="stage_number"
            v-model="user.currentAddress.stage"
            name="stage_number"
            required
          />
        </p>
        <div class="addNewAddress">
          <span @click="addNewAddress" v-if="!isEdit">Добавить</span>
          <span @click="sendEditAddress" v-if="isEdit">Изменить</span>
        </div>
      </form>
    </div>
    <div class="addresses cabinet-block">
      <h2 class="block-title">Адреса</h2>
      <div class="block-inner" v-if="user.addresses && user.addresses.length">
        <div
          class="inner-column-40"
          v-for="(address, index) in user.addresses"
          :key="index"
        >
          <label class="address-line" @click="event => event.preventDefault()">
            <input
              v-if="address.checked == 1"
              checked
              type="radio"
              name="address"
              :id="'address-' + index"
              :value="index"
              :key="'checkbox-' + index"
              v-model="user.selectedAddress"
            />
            <input
              v-else
              type="radio"
              name="address"
              :id="'address-' + index"
              :value="index"
              :key="'checkbox-' + index"
              v-model="user.selectedAddress"
            />
            <span
              class="active radio-btn"
              @click="changeAddress(index)"
              v-if="address.checked == 1"
            ></span>
            <span class="radio-btn" @click="changeAddress(index)" v-else></span>
            <div class="address-label">
              <span class="city-name">
                <label :for="'address-' + index" @click="changeAddress(index)">
                  г. {{ address.city }}, ул. {{ address.street }} , дом
                  {{ address.home_number }} подъезд {{ address.entrance }}
                </label>
                <svg
                  width="24"
                  v-if="newAddress"
                  @click="event => editAddress(event, address.id, index)"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4 17V20H7L16 11L13 8L4 17Z"
                    stroke="#A1A4B2"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M15 6L18 9L20.5 6.5L17.5 3.5L15 6Z"
                    stroke="#A1A4B2"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <svg
                  height="427pt"
                  @click="event => removeAddress(event, address.id, index)"
                  v-if="newAddress"
                  viewBox="-40 0 427 427.00131"
                  width="427pt"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="m232.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0"
                  />
                  <path
                    d="m114.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0"
                  />
                  <path
                    d="m28.398438 127.121094v246.378906c0 14.5625 5.339843 28.238281 14.667968 38.050781 9.285156 9.839844 22.207032 15.425781 35.730469 15.449219h189.203125c13.527344-.023438 26.449219-5.609375 35.730469-15.449219 9.328125-9.8125 14.667969-23.488281 14.667969-38.050781v-246.378906c18.542968-4.921875 30.558593-22.835938 28.078124-41.863282-2.484374-19.023437-18.691406-33.253906-37.878906-33.257812h-51.199218v-12.5c.058593-10.511719-4.097657-20.605469-11.539063-28.03125-7.441406-7.421875-17.550781-11.5546875-28.0625-11.46875h-88.796875c-10.511719-.0859375-20.621094 4.046875-28.0625 11.46875-7.441406 7.425781-11.597656 17.519531-11.539062 28.03125v12.5h-51.199219c-19.1875.003906-35.394531 14.234375-37.878907 33.257812-2.480468 19.027344 9.535157 36.941407 28.078126 41.863282zm239.601562 279.878906h-189.203125c-17.097656 0-30.398437-14.6875-30.398437-33.5v-245.5h250v245.5c0 18.8125-13.300782 33.5-30.398438 33.5zm-158.601562-367.5c-.066407-5.207031 1.980468-10.21875 5.675781-13.894531 3.691406-3.675781 8.714843-5.695313 13.925781-5.605469h88.796875c5.210937-.089844 10.234375 1.929688 13.925781 5.605469 3.695313 3.671875 5.742188 8.6875 5.675782 13.894531v12.5h-128zm-71.199219 32.5h270.398437c9.941406 0 18 8.058594 18 18s-8.058594 18-18 18h-270.398437c-9.941407 0-18-8.058594-18-18s8.058593-18 18-18zm0 0"
                  />
                  <path
                    d="m173.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0"
                  />
                </svg>
              </span>
              <span class="address-main">{{ address.address }}</span>
            </div>
          </label>
        </div>
      </div>
      <div class="block-inner" v-else>
        <span class="no-addresses">
          Нет добавленных адресов
        </span>
      </div>
      <div class="edit_icons block-edit">
        <i @click="addIcon">&#43;</i>
        <svg
          class=""
          @click="newAddress = !newAddress"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 17V20H7L16 11L13 8L4 17Z"
            stroke="#A1A4B2"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M15 6L18 9L20.5 6.5L17.5 3.5L15 6Z"
            stroke="#A1A4B2"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <!-- <div class="cards cabinet-block">
      <h2 class="block-title">Карты</h2>
      <div class="block-inner">
        <div class="inner-column-40" v-for="(card, index) in user.cards" :key="index">
          <label :for="'card-' + index" class="card-line">
            <input type="radio" name="card" :id="'card-' + index" :value="index" :key="'card-'+index" v-model="user.selectedCard">
            <span class="radio-btn"></span>
            <div class="card-label">
              <img :src="cardImage(card.type)" alt="">
              <span class="card-number">{{ card.firstNumbers + '******' + card.lastNumbers }}</span>
            </div>
          </label>
        </div>
      </div>
      <svg class="block-edit" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 17V20H7L16 11L13 8L4 17Z" stroke="#A1A4B2" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M15 6L18 9L20.5 6.5L17.5 3.5L15 6Z" stroke="#A1A4B2" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div> -->
  </main>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";
import "cleave.js/dist/addons/cleave-phone.kz";
import Cleave from "cleave.js";

export default {
  data() {
    return {
      privateEdit: false,
      newAddress: false,
      modalAddAddress: false,
      isEdit: false,
      errorField: "",
      phoneErr: false,
      emailErr: false,
      user: {
        fullName: "Балдёж Приколдесович",
        birthDay: "02.02.1990",
        phoneNumber: "+77081234567",
        email: "test@gmail.com",
        isMale: true,
        notifications: {
          push: false,
          email: true
        },
        selectedCard: 0,
        currentAddress: {
          city: "Алматы",
          street: "Орбита",
          flat_number: "23",
          home_number: "21",
          stage: "2"
        },
        addresses: this.userData.addresses,
        cards: [
          {
            firstNumbers: 510324,
            lastNumbers: 3143,
            type: "mastercard"
          },
          {
            firstNumbers: 420941,
            lastNumbers: 9237,
            type: "visa"
          }
        ]
      },
      userName: this.userData.user.name || null,
      userEmail: this.userData.user.email || null,
      userBDay: this.userData.user.bDay || null,
      userSex: this.userData.user.sex,
      userPhone: this.userData.user.phone_number
    };
  },

  mixins: [validationMixin],
  props: {
    userData: {
      type: Object,
      required: true
    }
  },
  components: {},
  mounted() {
    console.log(this.userData);
  },
  computed: {
    privateHasErrors() {
      let hasErrors = !this.$v.userName.required;
      return hasErrors;
    }
  },
  watch: {
    "user.selectedAddress": {
      handler: function(e) {
        const axios = this.$axios;
        // if(e != undefined)
        // this.checkedItem(e);
      },
      deep: true
    }
  },
  methods: {
    cardImage(type) {
      return type == "mastercard"
        ? require("~/assets/img/cards/mastercard.png")
        : type == "visa"
        ? require("~/assets/img/cards/visa.png")
        : type == "maestro"
        ? require("~/assets/img/cards/maestro.png")
        : type == "americanexpress"
        ? require("~/assets/img/cards/americanexpress.png")
        : require("~/assets/img/cards/unknown.png");
    },
    changeAddress(e) {
      console.log(this.$cookies.get("auth-token"));
      this.checkedItem(e);
    },
    checkedItem(e) {
      this.$axios
        .put("/adress/checked/" + this.user.addresses[e].id)
        .then(res => {
          this.$axios.setHeader(
            "Authorization",
            `Bearer ${this.$cookies.get("auth-token")}`
          );
          this.$axios.$get("/profile").then(res => {
            this.user.addresses = res.addresses;
          });
        });
    },
    addIcon() {
      this.modalAddAddress = !this.modalAddAddress;
      this.isEdit = false;
    },
    modalClose(e) {
      this.modalAddAddress = e.target != e.currentTarget;
    },
    removeAddress(event, id, ar_id) {
      event.stopPropagation();
      this.$axios.delete(`/adress/${id}/delete`).then(res => {
        this.user.addresses = this.user.addresses.filter(
          (e, index) => index != ar_id
        );
        const isExist = false;
        for (let x = 0; x < this.user.addresses.length; x++) {
          if (this.user.addresses[x].checked == 1) isExist = true;
        }
        if (!isExist && this.user.addresses.length > 0)
          this.checkedItem(this.user.addresses.length - 1);
      });
    },
    editAddress(event, id, ar_id) {
      this.isEdit = true;
      this.modalAddAddress = true;
      this.user.currentAddress = { ...this.user.addresses[ar_id] };
      this.user.currentAddress.ar_id = ar_id;
    },
    sendEditAddress() {
      const keys = Object.keys(this.user.currentAddress);
      console.log(this.user.currentAddress);
      for (let x = 0; x < keys.length; x++) {
        if (this.user.currentAddress[keys[x]] === "") {
          this.errorField = "Пожалуйста заполните все поля";
          return;
        }
      }
      this.$axios
        .put(
          `/adress/${this.user.currentAddress.id}/update`,
          this.user.currentAddress
        )
        .then(res => {
          this.modalAddAddress = false;
          this.errorField = "";
          this.user.addresses[
            this.user.currentAddress.ar_id
          ] = this.user.currentAddress;
        });
    },
    addNewAddress() {
      const keys = Object.keys(this.user.currentAddress);
      for (let x = 0; x < keys.length; x++) {
        if (this.user.currentAddress[keys[x]] == "") {
          this.errorField = "Пожалуйста заполните все поля";
          return;
        }
      }

      this.$axios.post("/adress/store", this.user.currentAddress).then(res => {
        this.user.addresses.push(res.data.address);

        if (this.user.addresses.length == 1) this.checkedItem(0);
        this.modalAddAddress = false;
        this.errorField = "";
      });
    },
    saveUserData() {
      console.log(this.$v.userEmail.$model);
      if (
        !this.userData.user.phone_number ||
        this.userData.user.phone_number.length > 13
      ) {
        this.phoneErr = true;
        return;
      }
      if (
        !this.$v.userEmail.$model ||
        this.$v.userEmail.$model.length == 0 ||
        !this.$v.userEmail.$model.includes("@")
      ) {
        this.emailErr = true;
        return;
      }
      if (this.privateHasErrors) return;
      this.$axios.setHeader(
        "Authorization",
        `Bearer ${this.$cookies.get("auth-token")}`
      );
      this.emailErr = false;
      this.phoneErr = false;
      let data = {
        name: this.userName,
        sex: this.userSex,
        bDay: this.userBDay,
        phone_number: this.userData.user.phone_number
      };
      console.log(data);
      if (this.userEmail) {
        data.email = this.userEmail;
      }
      this.$axios.$put("profile/update", data).then(res => {
        this.privateEdit = false;
        this.userData.user.name = this.userName;
        this.userData.user.sex = this.userSex;
        this.userData.user.bDay = this.userBDay;
        this.userData.user.email = this.userEmail;
      });
    }
  },
  validations: {
    userEmail: {
      email,
      required
    },
    userName: {
      required
    }
  }
};
</script>

<style lang="scss" scoped>
.block-inner {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.error_field {
  color: #fa0a23;
  font-size: 14px;
  margin-bottom: 5px;
  display: inline-block;
}
.city-name svg {
  width: 16px;
  height: 16px;
  fill: red;
  margin-left: 20px;
  vertical-align: middle;
  &:first-child {
    fill: gray;
  }
}
.city-name label {
  cursor: pointer;
}
.edit_icons {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 23px;
  /* display: inline-block; */
  i {
    margin-right: 20px;
    color: #a7aab7;
  }
}
.addAddress {
  padding-bottom: 20px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &_inner {
    background-color: white;
    padding: 30px;
    & > p {
      & > input {
        border: none;
        border-bottom: 1px solid gray;
        outline: none;
      }
      label {
        font-size: 14px;
      }
      margin: 10px 0;
    }

    .addNewAddress {
      margin-top: 20px;
      & > span {
        background-color: #3bde15;
        color: white;
        width: auto;
        padding: 5px 15px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
.inner-column-30 {
  width: 32%;
}
.inner-column-40 {
  width: 40%;
  margin-bottom: 18px;
  &:nth-last-child(2),
  &:last-child {
    margin-bottom: 0;
  }
}
.user-dataline {
  font-size: 14px;
  &:not(:last-child) {
    margin-bottom: 36px;
  }
}
.user-data-label {
  color: #a1a4b2;
  margin-bottom: 6px;
}

.user-data-text {
  display: -webkit-box;
  line-height: 1rem;
  height: 2rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.block-edit {
  position: absolute;
  cursor: pointer;
  right: 24px;
  top: 24px;
}
.private-info.cabinet-block {
  display: flex;
  flex-direction: column;
}

.save-btn {
  display: flex;
  background: #3bde15;
  padding: 12px 18px;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 24px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s;
  &.disabled {
    background: #aaa;
    cursor: not-allowed;
  }
}
.active {
  position: relative;
  align-self: center;

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3bde15;
    border-radius: 50%;
  }
}
.ads-discounts {
  .block-inner {
    justify-content: space-between;
  }
}

.no-addresses {
  font-size: 14px;
}

input.user-data-editing {
  outline: none;
  border: none;
  border-bottom: 1px solid #a1a4b2;
  width: 90%;
  &.has-error {
    border-color: #f55555;
  }
}

select.user-data-editing {
  outline: none;
  border: none;
}

.inner-column-40 {
  label.notification {
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .switch {
      position: relative;
      width: 36px;
      height: 20px;
      border-radius: 10px;
      background: #a1a4b2;
      transition: all 0.3s;
      &::after {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        background: #fff;
        left: 1px;
        top: 1px;
        border-radius: 50%;
      }
    }
    input:checked ~ .switch {
      background: #3bde15;
      &::after {
        left: auto;
        right: 1px;
      }
    }
  }

  label.address-line,
  label.card-line {
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    input {
      display: none;
      &:checked + span {
        border-color: #3bde15;
        position: relative;
        /* width: 100px */
        &::after {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          top: 3px;
          left: 3px;
          background: #3bde15;
          border-radius: 50%;
        }
      }
    }
    .address-label {
      display: flex;
      flex-direction: column;
      margin-left: 12px;
      .address-main {
        margin-top: 3px;
        font-size: 12px;
        color: #a1a4b2;
      }
    }
    .card-label {
      display: flex;
      margin-left: 12px;
      img {
        margin-right: 6px;
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
      span.card-number {
        line-height: 20px;
      }
    }
    span.radio-btn {
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid #a1a4b2;
      box-sizing: border-box;
      border-radius: 50%;
    }
  }
  input[type="checkbox"] {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .cabinet-block {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .cabinet-block {
    .block-inner {
      flex-wrap: wrap;
      .inner-column-30 {
        width: 100%;
        .user-dataline,
        .user-dataline:not(:last-child) {
          margin-bottom: 12px;
        }
      }
      .inner-column-40 {
        width: 100%;
        margin-bottom: 18px;
      }
    }
  }
}
</style>
