<template>
  <div class="layout-default">
    <layout-header />
    <layout-top-bar />
    <Nuxt class="layout-content"/>
    <layout-footer />
  </div>
</template>
<script>
require('cleave.js/dist/addons/cleave-phone.kz');
import Cleave from 'cleave.js';
export default {
  
}
</script>

<style lang="scss">
.layout-content {
  min-height: 75vh;
}
.layout-default {
  background: #fff;
}
</style>
