<template>
  <div class="layout-login">
    <layout-header />
    <layout-top-bar />
    <Nuxt />
    <layout-footer />
  </div>
</template>
  
<script>
require('cleave.js/dist/addons/cleave-phone.kz');
import Cleave from 'cleave.js';
export default {
  
}
</script>

<style lang="scss" >
.layout-login {
  background: #F5F5F9;
}
</style>
