<template>
  <div class="blog-page">
    <div class="container">
      <LayoutBreadcrumbs :crumbs="breadcrumbs" />
      <div :key="blog.id" v-for="blog in blogs">
        <div v-if="$route.params.id == blog.id" class="blog-item">
          <h1>{{ blog.title }}</h1>
          <img
            :src="'https://api.melissaapteka.kz/storage/' + blog.image"
            alt=""
          />
          <div v-html="blog.content" style=""></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  data() {
    return {
      ceo: {},
      breadcrumbs: [
        {
          title: "Главная",
          url: "/"
        },
        {
          title: "Блог",
          url: "/blog"
        }
      ]
    };
  },
  computed: {},
  async asyncData({ $axios }) {
    let blogs = await $axios.$get("/blogs");
    blogs = blogs.blogs;
    return { blogs };
  }
};
</script>

<style lang="sass">
.blog-item
    margin-bottom: 2rem
.blog-item > h1
    font-size: 28px
    font-weight: 700
    margin-bottom: 30px
.blog-item > img
    width: 100%
    object-fit: contain
    margin-bottom: 2rem
</style>
