<template>
  <div class="page-inner">
    <div class="container">
      <LayoutBreadcrumbs :crumbs="breadcrumbs" />
      <div class="contacts-main">
        <h1 class="title">Блог</h1>
        <div class="blogs">
          <div class="blog-item" :key="blog.id" v-for="blog in blogs">
            <img
              :src="'https://api.melissaapteka.kz/storage/' + blog.image"
              alt=""
            />
            <h3>{{ blog.title }}</h3>
            <!-- <p :class="blog.content.length > 40 && 'hidden'">
              {{ blog.content }}
            </p> -->
            <div
              v-html="blog.content"
              :class="blog.content.length > 40 && 'hidden'"
            ></div>

            <a :href="'/blog/' + blog.id" v-if="blog.content.length > 40"
              >Читать полностью</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { yandexMap, ymapMarker } from "vue-yandex-maps";
import { mapState, mapMutations } from "vuex";

export default {
  components: { yandexMap, ymapMarker },
  data() {
    return {
      breadcrumbs: [
        {
          title: "Главная",
          url: "/"
        },
        {
          title: "Блог",
          url: "/blogs"
        }
      ]
    };
  },
  async asyncData({ $axios }) {
    let blogs = await $axios.$get("/blogs");
    // console.log($store.state.blogs)
    blogs = blogs.blogs;
    return { blogs };
  },
  created() {
    this.$axios.get("/company-addresses").then(res => {
      this.addresses = res.data.addresses;
    });
  }
};
</script>

<style lang="scss" scoped>
.blog-item a {
  margin-top: auto;
  cursor: pointer;
}
.hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}
h1.title {
  font-weight: 700;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 24px;
}
.blogs > div:nth-child(3n) {
  margin-left: 30px;
}
.blogs > div:nth-child(3n-1) {
  margin-left: 30px;
}
.blogs {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10rem;

  & > div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 30%;
    border: 1px solid #dee0e4;
    box-sizing: border-box;
    padding: 14px;
    border-radius: 14px;
    // margin-left: 30px;
    &:first-child {
      margin-left: 0;
    }
    & > img {
      width: 100%;
    }
    & > h3 {
      font-weight: bold;
      font-size: 28px;
      margin: 20px 0;
      line-height: 33px;
    }
    & > p {
      color: #3f414e;
    }
  }
}
@media (max-width: 992px) {
  .blogs > div:nth-child(3n) {
    margin-left: 0;
  }
  .blogs > div:nth-child(3n-1) {
    margin-left: 0;
  }
  .blogs > div {
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
  }
}
</style>
