<template>
  <div class="page-inner">
    <div class="container">
      <LayoutBreadcrumbs
        :crumbs="breadcrumbs"
      />
      <div class="conditions-main">
        <h1 class="title">Условия возврата и обмена</h1>
        <div class="conditions-text" v-html="conditionData"></div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      ceo:{},
      breadcrumbs: [
        {
          title: 'Главная',
          url: '/',
        },
        {
          title: 'Условия возврата и обмена',
          url: '/conditions'
        }
      ],
    }
  },
  async asyncData({ $axios }) {
    let conditionData = await $axios.$get('/condition');

    conditionData = conditionData.Condition[0].content;
    return {conditionData}
  },
}
</script>

<style lang="scss" scoped>
.conditions-main {
  display: flow-root;
  margin-top: 24px;
  margin-bottom: 48px;
}
h1.title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 24px;
}
</style>