<template>
  <div class="page-inner">
    <div class="container">
      <LayoutBreadcrumbs
        :crumbs="breadcrumbs"
      />
      <div class="contract-main">
        <h1 class="title">Договор публичной оферты о предоставлении услуг</h1>
        <div class="contract-text" v-html="contractData"></div>
      </div>
    </div>
  </div>
</template>

<script>

export default{
  data() {
    return {
      ceo:{},
      breadcrumbs: [
        {
          title: 'Главная',
          url: '/',
        },
        {
          title: 'Договор публичной оферты о предоставлении услуг',
          url: '/contract'
        }
      ],
    }
  },
  async asyncData({ $axios }) {
    let contractData = await $axios.$get('/offer');
    contractData = contractData.offer[0].content;
    return {contractData}
  },
}
</script>

<style lang="scss" scoped>

  .contract-text > div{
    width: 0;
  }

.contract-main {
  display: flow-root;
  margin-top: 24px;
  margin-bottom: 48px;
}
h1.title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 24px;
}
</style>