<template>
  <div class="forgot-form">
    <h1 class="form-title">Восстановление пароля</h1>
    <label for="forgot-number">
      <span>Введите почту</span>
      <input v-model="email" id="forgot-nunmber" class="phone_input">
      <span class="error-text" v-if="errorEmail">Проверьте правильность введенной почты</span>
    </label>
    <div class="send-code-btn" @click="requestCode">Запросить код</div>
  </div>
</template>

<script>
import Cleave from 'cleave.js';
import 'cleave.js/dist/addons/cleave-phone.kz';

export default{

  data() {
    return {
      email: '',
      errorEmail: false,
    }
  },
  layout: 'login',
  methods: {
    requestCode() {
      console.log(this.email)
        this.$axios.$post('/reset', {
          email: this.email
        }).then(res => {
          // console.log(res)
          this.$router.push(`/verify?user_id=${res.user_id}`);
          this.$cookies.set('resetToken', res.token);
        }).catch(err => {
          this.errorEmail = true
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.forgot-form {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  padding: 36px;
  background: #fff;
  border-radius: 12px;
  h1.form-title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    span {
      font-size: 14px;
      margin-bottom: 6px;
    }
    input {
      border: 1px solid #E3E4E8;
      font-size: 14px;
      padding: 12px 18px;
      outline: none;
      border-radius: 6px;
      &[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }
  .send-code-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 84px;
    background: #05054B;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 12px;
  }
}
.error-text {
  color: #ff2626;
}
@media screen and (max-width: 992px){
  .forgot-form .send-code-btn {
    box-sizing: border-box;
    padding: 12px 60px;
  }
}
</style>