<template>
  <div class="page-inner">
    <div
      v-if="showSuccess"
      :class="[
        'order-modal',
        success ? 'success-order-modal' : 'cancel-order-modal'
      ]"
    >
      {{ this.modalText }}
    </div>
    <div class="container">
      <section class="sale">
        <div
          :class="'banner' + index"
          v-for="(banner, index) of banners"
          :key="index"
        >
          <a :href="'/product/' + banner.items[0].id">
            <img
              :src="'https://api.melissaapteka.kz/storage/' + banner.image"
              alt=""
            />
          </a>
        </div>
      </section>
      <section class="popular-products">
        <h1 class="title">Популярные товары</h1>
        <div class="products-popular desktop-only">
          <div class="products-grid" v-if="popularProducts">
            <product-card-horizontal
              v-for="(product, index) in popularProducts.length
                ? popularProducts.slice(0, 4)
                : []"
              :key="index"
              :name="product.full_name"
              :price="+product.discount_price || +product.price"
              :oldPrice="(+product.discount_price && +product.price) || 0"
              :discount="product.discount || null"
              :productId="+product.id"
              :image="
                'https://api.melissaapteka.kz/storage/' +
                  (Array.isArray(product.images)
                    ? product.images[0]
                    : product.images)
              "
            />
          </div>
          <div class="product-big">
            <product-big-card
              class="desktop-only"
              v-for="(product, index) in popularProducts.length
                ? popularProducts.slice(4, 5)
                : []"
              :key="index"
              :name="product.full_name"
              :price="+product.discount_price || +product.price"
              :oldPrice="(+product.discount_price && +product.price) || 0"
              :discount="product.discount || null"
              :productId="+product.id"
              :image="'https://api.melissaapteka.kz/storage/' + product.images"
            />
          </div>
        </div>
        <div class="products-popular mobile-only">
          <div class="products-grid">
            <p v-if="popularProducts.length < 1">
              Популярные товары отсутствуют
            </p>
            <product-card-vertical
              v-for="(product, index) in popularProducts.length
                ? popularProducts.slice(0, 6)
                : []"
              :key="index"
              :name="product.full_name"
              :price="+product.discount_price || +product.price"
              :oldPrice="(+product.discount_price && +product.price) || 0"
              :discount="product.discount || null"
              :productId="+product.id"
              :image="
                'https://api.melissaapteka.kz/storage/' +
                  (Array.isArray(product.images)
                    ? product.images[0]
                    : product.images)
              "
            />
          </div>
        </div>
      </section>
      <section class="popular-categories">
        <h1 class="title">Популярные категории</h1>
        <div class="categories-container">
          <category-card
            v-for="(category, index) in categories"
            :key="index"
            :image="
              category.image &&
                'https://api.melissaapteka.kz/storage/' + category.image
            "
            :name="category.name"
            :categoryId="category.integration_id"
          />
        </div>
      </section>
      <section class="discount-products">
        <h1 class="title">Акционные товары</h1>
        <div class="products-container" v-if="discountProducts.length > 0">
          <product-card-vertical
            v-for="(product, index) in discountProducts"
            :key="index"
            :name="product.full_name"
            :price="+product.discount_price || +product.price"
            :oldPrice="(+product.discount_price && +product.price) || 0"
            :discount="product.discount || null"
            :productId="product.id"
            :isFavorite="product.isFavorite || null"
            :image="
              Array.isArray(product.images) ? product.images[0] : product.images
            "
          />
        </div>
      </section>
      <section class="about" v-html="about">
        <nuxt-link to="/about" class="more">
          Читать дальше
        </nuxt-link>
      </section>
      <section class="companies">
        <div class="logo-container">
          <img
            v-for="i in 7"
            :key="i"
            :src="require(`@/assets/img/logos/logo${i}.png`)"
            alt=""
          />
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      ceo: {},
      bannerMain: require("@/assets/img/banner-main.png"),
      bannersSecondary: [
        require("@/assets/img/banner-secondary1.png"),
        require("@/assets/img/banner-secondary2.png")
      ],
      categories: [],
      about: "",
      discountProducts: [],
      popularProducts: [],
      banners: [],
      showSuccess: false,
      modalText: "",
      success: false
    };
  },

  beforeMount() {
    this.$axios
      .$get("main")
      .then(res => {
        this.banners = res.Array;
        console.log(res);
        this.popularProducts = res.popularItems;
        this.popularProducts.map(item => {
          if (item.images) {
            if (item.images.includes("\\") && item.images.includes("[")) {
              item.images = JSON.parse(item.images);
            }
          }
        });
        this.discountProducts = res.saleItems;
        this.discountProducts.map(item => {
          if (item.images) {
            if (item.images.includes("\\") && item.images.includes("[")) {
              item.images = JSON.parse(item.images);
            }
          }
        });
        this.about = res.about.body;
        this.categories = res.catalogs;
      })
      .catch(err => {
        console.error(err);
      });
  },
  mounted() {
    if (this.$route.hash) {
      this.$route.hash.includes("cancel") &&
      !this.$route.hash.includes("success-order")
        ? (this.modalText = "Заказ был отменён")
        : (this.modalText = "Заказ был отклонён");
      if (this.$route.hash.includes("success-order")) {
        this.success = true;
        this.modalText = "Ваш заказ принят!";
      } else if (
        this.$route.hash.includes("cancel") ||
        this.$route.hash.includes("decline")
      ) {
        this.success = false;
      }
      this.showSuccess = true;
      setTimeout(() => {
        this.showSuccess = false;
        this.$router.replace({ path: "/" });
      }, 1500);
    }
  }
};
</script>

<style lang="scss" scoped>
.order-modal {
  margin-bottom: 1rem;
  color: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 1;
}
.success-order-modal {
  background-color: rgb(2, 211, 12);
}
.cancel-order-modal {
  background-color: rgb(255, 0, 0);
}
.banner0 {
  grid-area: banner0;
}
.banner1 {
  grid-area: banner1;
}
.banner2 {
  grid-area: banner2;
}
.sale {
  display: grid;
  grid-template-columns: minmax(450px, 2fr) minmax(250px, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    "banner0 banner1 ."
    "banner0 banner2 .";
  margin-bottom: 70px;
  img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
  }
  & > div {
    border-radius: 12px;
  }
  .banner {
    &-main {
      width: 65%;
      box-shadow: 0px 4px 15px rgba(66, 76, 98, 0.15);
      img {
        height: 100%;
      }
    }
    &s-small {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;
    }
  }
}
.popular-products {
  margin-bottom: 84px;
  h1.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .products-popular {
    display: flex;
  }
  .products-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 65%;
  }
  .product-big {
    width: 35%;
  }
}
.popular-categories {
  margin-bottom: 70px;
  h1.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .categories-container {
    display: flex;
  }
}
.discount-products {
  margin-bottom: 70px;
  h1.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .products-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  a.all-products-btn {
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    background: #05054b;
    border-radius: 100px;
    padding: 15px 80px;
    max-width: 30%;
    justify-content: center;
    margin: 0 auto;
  }
}
.about {
  margin-bottom: 50px;
  h1.title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 21px;
  }
  a.more {
    color: #3bde15;
  }
}

.companies {
  margin-bottom: 50px;
  .logo-container {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      max-height: 120px;
    }
  }
}

@media screen and (max-width: 992px) {
  .sale {
    flex-direction: column;
    margin-bottom: 24px;
    // grid-template-columns: minmax(450px, 2fr) minmax(250px, 1fr);
    display: flex;
    flex-wrap: wrap;
    .banner-main {
      width: 100%;
      margin-bottom: 12px;
    }
    .banners-small {
      flex-direction: row;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  h1.title {
    font-size: 18px !important;
  }
  .discount-products a.all-products-btn {
    max-width: 100%;
  }
  p,
  a {
    font-size: 14px;
  }
  .companies .logo-container {
    flex-wrap: wrap;
    height: auto;
    min-height: 120px;
  }
  .popular-products {
    margin-bottom: 24px;
    .products-grid {
      width: 100%;
      justify-content: space-between;
    }
  }
  .popular-categories {
    margin-bottom: 24px;
  }
  .categories-container {
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
  .discount-products .products-container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 576px) {
  .categories-container {
    width: 100%;
    margin: 0 auto;
  }
}

.products-popular.mobile-only {
  justify-content: center;
}
</style>
