<template>
  <div class="container">
    <LayoutBreadcrumbs
                :crumbs="breadcrumbs"
            />
    <div class="news">
      <h1 class="title">Новости</h1>
      <section class="sale">
        <div :class="'banner'+index" v-for="(banner, index) of banners" :key="index">
            <nuxt-link :to="'product/'+banner.items[0].id">
              <img :src="'https://api.melissaapteka.kz/storage/'+banner.image" alt="">
            </nuxt-link>
        </div>
      </section>
      <section class="news">
        <div v-for="(obj, i) in news" :key="i">
          <h2>{{ obj.title }}</h2>
          <p v-html="obj.body" ref="news_p">
          </p>
          <a href="" @click="e => readNext(e, i)" v-if="visible ? visible[i] !== false : true">Читать дальше</a>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadcrumbs: [
          {
              title: 'Главная',
              url: '/',
          },
          {
              title: 'Новости',
              url: '/news'
          }
      ],
      visible: null,
      bannerMain: require("@/assets/img/banner-main.png"),
      bannersSecondary: [
        require("@/assets/img/banner-secondary1.png"),
        require("@/assets/img/banner-secondary2.png")
      ],
      news: [],
      cache: {},
      banners:[],
    }
  },
  created(){
    this.$axios.get('/news').then(res => {
      console.log(res)
      this.banners = res.data.events
      console.log(this.banners)
      this.news = res.data.news.data;
    })
  },
  // watch:{
  //   '$refs.news_p':{
  //     handler:  function(params){
  //       const new_obj = {};
  //       setTimeout(() => {
  //         for(let x = 0;x < this.$refs.news_p.length;x++){
  //           new_obj[x] = this.$refs.news_p[x].offsetHeight >= 50 
  //         }
  //         this.visible = new_obj;
  //       },1000);
  //     },
  //     immediate: true
  //   }
  // },
  
  methods:{
    readNext(e,x){
      e.preventDefault();
      const target = this.$refs.news_p;
      this.cache[x] ? target[x].style = "max-height: 50px" : target[x].style = "max-height: 1000px"
      this.cache[x] = this.cache[x] == undefined ? true : !this.cache[x];
      
    }
  },
  mounted(){

  }
}
</script>

<style scoped lang="scss">
.banner0{
  grid-area: banner0;
}
.banner1{
  grid-area: banner1;
}
.banner2{
  grid-area: banner2;
}
.sale {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
      ". . ."
      "banner0 banner1 ."
      "banner0 banner2 .";
  margin-bottom: 70px;
  img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
  }
  & > div {
    border-radius: 12px;
  }
  .banner {
    &-main {
      width: 65%;
      box-shadow: 0px 4px 15px rgba(66, 76, 98, 0.15);
      img {
        height: 100%;
      }
    }
    &s-small {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;
    }
  }
}
.news{
  margin-top: 24px;
  margin-bottom: 48px;
  &>div{
    h2{
      margin: 33px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
    }
    &>p{
      max-height: 50px;
      overflow: hidden;
    }
    &>a{
      margin-top: 30px;
      display: inline-block;
      color: #3BDE15
    }
  }
}
h1.title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 24px;
}
.sale {
  // display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  img {
    width: 100%;
    border-radius: 12px;
  }
  & > div {
    border-radius: 12px;
  }
  .banner {
    &-main {
      width: 65%;
      box-shadow: 0px 4px 15px rgba(66, 76, 98, 0.15);
      img {
        height: 100%;
      }
    }
    &s-small {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;
    }
  }
}
</style>