<template>
  <div class="container">
    <validation-observer ref="orderSendForm">
      <div class="addAddress" v-if="modalAddAddress" @click="modalClose">
        <!-- THIS IS MODALKA EDIT ADDRESS !!!!!!!!!!!! -->
        <form class="addAddress_inner">
          <span class="error_field">{{ errorField }}</span>
          <p>
            <label for="cityId">Город:</label>
            <input
              type="text"
              id="cityId"
              v-model="newAddress.city"
              name="cityId"
              email
            />
          </p>

          <p>
            <label for="streetId">Улица:</label>
            <input
              type="text"
              id="streetId"
              v-model="newAddress.street"
              name="streetId"
              required
            />
          </p>
          <p>
            <label for="home_number">Номер дома:</label>
            <input
              type="text"
              id="home_number"
              v-model="newAddress.home_number"
              name="home_number"
              required
            />
          </p>
          <p>
            <label for="home_number">Номер подъезда:</label>
            <input
              type="text"
              id="home_number"
              v-model="newAddress.entrance"
              name="home_number"
              required
            />
          </p>
          <p>
            <label for="flat_number">Номер квартиры:</label>
            <input
              type="text"
              id="flat_number"
              v-model="newAddress.flat_number"
              name="flat_number"
              required
            />
          </p>
          <p>
            <label for="stage_number">Этаж:</label>
            <input
              type="text"
              id="stage_number"
              v-model="newAddress.stage"
              name="stage_number"
              required
            />
          </p>
          <div class="addNewAddress">
            <span @click="sendEditAddress">Изменить</span>
          </div>
        </form>
      </div>
      <LayoutBreadcrumbs :crumbs="breadcrumbs" />
      <div class="content">
        <h2>Оформление заказа</h2>
        <div class="content_block">
          <div class="forms">
            <form>
              <h4 style="font-size: 22px;font-weight: normal;">Адрес</h4>
              <div
                v-if="this.$cookies.get('auth-token')"
                class="checked-address"
              >
                <span v-if="this.checkedAddress.city">
                  {{ this.checkedAddress.city }}, ул.
                  {{ this.checkedAddress.street }},дом
                  {{ this.checkedAddress.home_number }},
                  {{
                    this.checkedAddress.flat_number
                      ? `кв. ` + this.checkedAddress.flat_number
                      : ""
                  }},
                  {{
                    this.checkedAddress.stage
                      ? this.checkedAddress.stage + " этаж"
                      : ""
                  }}
                  подъезд {{ checkedAddress.entrance }}
                </span>
                <svg
                  v-if="this.checkedAddress.city"
                  class="block-edit"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  @click="modalAddAddress = !modalAddAddress"
                >
                  <path
                    d="M4 17V20H7L16 11L13 8L4 17Z"
                    stroke="#A1A4B2"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M15 6L18 9L20.5 6.5L17.5 3.5L15 6Z"
                    stroke="#A1A4B2"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span v-if="!this.checkedAddress.city" style="color: red"
                  >Отсутствует адрес!</span
                >
                <nuxt-link v-if="!checkedAddress.city" to="/cabinet"
                  >Добавить адрес</nuxt-link
                >
              </div>
              <div
                v-if="!this.$cookies.get('auth-token')"
                class="address-inputs"
              >
                <p style="display: flex;flex-direction: column;">
                  <label for="">Город</label>

                  <validation-provider v-slot="{ errors }" rules="required">
                    <input v-model="userCity" type="text" />
                    <p class="input-invalid-message">
                      {{ errors[0] }}
                    </p>
                  </validation-provider>
                </p>
                <p>
                  <label for="">Улица</label>
                  <validation-provider v-slot="{ errors }" rules="required">
                    <input v-model="userPhone" type="text" />
                    <p class="input-invalid-message">
                      {{ errors[0] }}
                    </p>
                  </validation-provider>
                </p>
                <p>
                  <label for="">Номер дома</label>
                  <validation-provider v-slot="{ errors }" rules="required">
                    <input v-model="userHome" type="text" />
                    <p class="input-invalid-message">
                      {{ errors[0] }}
                    </p>
                  </validation-provider>
                </p>
                <p>
                  <label for="">Подъезд</label>
                  <input
                    @input="e => (userEntrance = e.target.value)"
                    type="text"
                  />
                </p>
                <p>
                  <label for="">Этаж</label>
                  <input
                    @input="e => (userStage = e.target.value)"
                    type="text"
                  />
                </p>
                <p>
                  <label for="">Квартира</label>
                  <input
                    @input="e => (userFlat = e.target.value)"
                    type="text"
                  />
                </p>
              </div>

              <div class="condition">
                <h4>Способ доставки</h4>
                <div class="inner_inputs">
                  <p class="inner_inputs_child">
                    <input
                      type="radio"
                      id="radio"
                      value="Курьером"
                      checked="checked"
                      v-model="isDelivery"
                      name="kurier"
                    />
                    <label for="radio">Курьером</label>
                  </p>
                  <p class="inner_inputs_child">
                    <input
                      type="radio"
                      value="Самовывоз"
                      name="kurierOwn"
                      id="radio2"
                      v-model="isDelivery"
                    />
                    <label for="radio2">Самовывоз</label>
                  </p>
                </div>
                <div v-if="isDelivery == 'Самовывоз'" class="pickup-point">
                  <span style="margin-right:10px; font-weight:700"
                    >Выбрать пункт выдачи</span
                  >
                  <select name="city" id="city" v-model="userPickup">
                    <option
                      :value="address.address"
                      :key="address.id"
                      v-for="address in companyAddresses"
                    >
                      {{ address.address }}
                    </option>
                  </select>
                </div>
              </div>
              <div>
                <h4 v-if="ownTake">Ваши данные</h4>
                <h4 v-else>Данные получателя</h4>
                <div class="your_data">
                  <p
                    class="checkbox_container"
                    v-if="
                      Object.keys(user).length > 0 &&
                        this.$cookies.get('auth-token')
                    "
                  >
                    <input type="checkbox" id="checkboxer" v-model="ownTake" />
                    <label for="checkboxer">Я получатель</label>
                  </p>
                  <div class="inner_inputs">
                    <p class="errorField">{{ errorField }}</p>
                    <p class="inner_inputs_child">
                      <label for="">Имя</label>
                      <validation-provider
                        v-slot="{ errors }"
                        rules="required"
                        class="validation-provider"
                      >
                        <input
                          type="text"
                          :value="userData.name"
                          name="name"
                          @input="e => updateValues(e)"
                          placeholder="Имя"
                        />
                        <p class="input-invalid-message">
                          {{ errors[0] }}
                        </p>
                      </validation-provider>
                    </p>
                    <p class="inner_inputs_child">
                      <label for="">Телефон</label>

                      <validation-provider
                        v-slot="{ errors }"
                        rules="required"
                        class="validation-provider"
                      >
                        <input
                          type="text"
                          :value="userData.phone_number"
                          name="phone_number"
                          @input="e => updateValues(e)"
                          class="phone_input2"
                          placeholder="+7 7"
                        />
                        <p class="input-invalid-message">
                          {{ errors[0] }}
                        </p>
                      </validation-provider>
                    </p>
                    <p class="inner_inputs_child">
                      <label for="">Email</label>

                      <span class="validation-provider">
                        <input
                          type="text"
                          :value="userData.email"
                          name="email"
                          placeholder="__@"
                          class="email_input"
                          @input="e => updateValues(e)"
                        />
                      </span>
                    </p>
                    <p class="inner_inputs_child">
                      <label for="">Комментарий к заказу:</label>
                      <textarea
                        placeholder="Комментарий "
                        name="comment"
                        @input="e => updateValues(e)"
                        :value="userData.comment"
                      ></textarea>
                    </p>
                  </div>
                </div>
              </div>
              <div class="inner_inputs another">
                <div v-for="(card, i) in cards" :key="i" @click="changeCard(i)">
                  <div :class="chooseCards == i ? 'active_card' : ''">
                    <img :src="card.img" alt="" />
                  </div>
                  <span>{{ card.title }}</span>
                </div>
              </div>
              <button
                @click="sendOrder"
                :disabled="isSendStart"
                class="button-send-order"
                :class="{ 'button--loading': isSendStart }"
              >
                Оформить заказ
              </button>
              <span
                style="color:red"
                v-if="errorField == 'Заполните все поля !!!'"
                >{{ errorField }}</span
              >
            </form>
          </div>
          <div class="right_side">
            <div>
              <h4>Ваш заказ</h4>
              <div class="products">
                <div
                  class="products_container"
                  v-for="(obj, i) in cartItems"
                  :key="i"
                >
                  <img
                    v-if="obj.images"
                    :src="
                      `${
                        Array.isArray(obj.images)
                          ? 'https://api.melissaapteka.kz/storage/' +
                            obj.images[0]
                          : 'https://api.melissaapteka.kz/storage/' + obj.images
                      }`
                    "
                    alt=""
                    width="87px"
                    style="object-fit: cover"
                  />
                  <img
                    v-else
                    src="@/assets/img/product-placeholder.png"
                    alt=""
                    width="87px"
                    style="object-fit: cover"
                  />

                  <div class="products_info">
                    <span>{{ obj.full_name }}</span>
                    <div>
                      <span>{{ productsCounts[obj.id] }} шт. </span>
                      <span
                        >{{
                          obj.discount_price ? obj.discount_price : obj.price
                        }}
                        ₸</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="prices">
                <div class="delivery">
                  <span>Доставка</span>
                  <span
                    >{{
                      isDelivery == "Курьером" && overallPrice
                        ? overallPrice >= 5000
                          ? 0
                          : deliveryPrice
                        : 0
                    }}
                    ₸
                  </span>
                </div>
              </div>
              <div class="prices_total products_container">
                <span>Общая сумма</span>
                <span
                  >{{
                    overallPrice +
                      (isDelivery == "Курьером"
                        ? overallPrice >= 5000
                          ? 0
                          : deliveryPrice
                        : 0)
                  }}
                  ₸</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </validation-observer>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import "cleave.js/dist/addons/cleave-phone.kz";
import { ValidationProvider, ValidationObserver } from "vee-validate";

export default {
  components: { ValidationProvider, ValidationObserver },
  data() {
    return {
      breadcrumbs: [
        {
          title: "Главная",
          url: "/"
        },
        {
          title: "Оформление заказа",
          url: "/order"
        }
      ],
      isSendStart: false,
      cartItems: [],
      chooseCards: 0,
      errorField: "",
      userCity: "",
      userHome: "",
      userFlat: "",
      userStage: "",
      userStreet: "",
      userEntrance: "",
      userBDay: "2020-03-20",
      userTime: "В течении рабочего дня",
      userPickup: "",
      checkedAddress: {},
      deliveryPrice: 0,
      modalAddAddress: false,
      newAddress: {},
      companyAddresses: [],
      cards: [
        {
          img: require("../assets/img/visa.svg"),
          title: "Карты Visa,Mastercard"
        },
        {
          img: require("../assets/img/money.svg"),
          title: "Наличными"
        }
      ],
      ownTake: false,
      userData: {
        name: "",
        phone_number: "",
        email: "",
        comment: ""
      },
      user: {},
      isDelivery: "Курьером"
    };
  },

  computed: {
    ...mapState("cart", ["products", "isToastContent"]),
    nowDays() {
      const today = new Date();
      this.userBDay =
        today.getFullYear() +
        "-" +
        (today.getMonth() + 1) +
        "-" +
        (today.getDate() + 1);
      return (
        today.getFullYear() +
        "-" +
        (today.getMonth() + 1) +
        "-" +
        (today.getDate() + 1)
      );
    },
    productsCounts() {
      let counts = {};
      this.products.forEach(product => {
        counts[product.id] = product.count;
      });
      return counts;
    },
    items() {
      const products = [];
      this.products.forEach(product => {
        products.push({
          item_id: product.id,
          quantity: product.count
        });
      });
      return products;
    },
    overallPrice() {
      let price = 0;
      this.cartItems.forEach(cartItem => {
        price +=
          this.productsCounts[cartItem.id] *
          +(cartItem.discount_price ? cartItem.discount_price : cartItem.price);
      });
      return price;
    }
  },
  created() {
    if (this.items.length == 0) {
      this.$router.push("/cart");
    }
    if (this.$cookies.get("auth-token")) {
      this.$axios.setHeader(
        "Authorization",
        `Bearer ${this.$cookies.get("auth-token")}`
      );
      this.$axios.$get("/profile").then(res => {
        res.addresses.map(item => {
          item.checked == 1 ? (this.checkedAddress = item) : "";
        });
        this.newAddress = {
          id: this.checkedAddress.id,
          street: this.checkedAddress.street,
          flat_number: this.checkedAddress.flat_number,
          home_number: this.checkedAddress.home_number,
          city: this.checkedAddress.city,
          stage: this.checkedAddress.stage,
          entrance: this.checkedAddress.entrance
        };
        this.user = res;
        this.$axios.$get("/company-addresses").then(res => {
          this.companyAddresses = res.addresses;
        });
      });
      this.$axios.onError(e => {
        this.user = {};
      });
    } else {
      this.$axios.$get("/company-addresses").then(res => {
        this.companyAddresses = res.addresses;
      });
    }
  },
  watch: {
    ownTake: {
      handler: function(e) {
        if (e) this.userData = this.user.user;
        else this.userData = {};
      },
      deep: true
    }
  },

  methods: {
    modalClose(e) {
      this.modalAddAddress = e.target != e.currentTarget;
    },
    sendEditAddress() {
      const keys = Object.keys(this.newAddress);
      for (let x = 0; x < keys.length; x++) {
        if (this.newAddress[keys[x]] === "") {
          this.errorField = "Пожалуйста заполните все поля";
          return;
        }
      }
      this.$axios
        .put(`/adress/${this.newAddress.id}/update`, this.newAddress)
        .then(res => {
          this.modalAddAddress = false;
          this.errorField = "";
          this.checkedAddress = this.newAddress;
        });
    },
    updateValues(e) {
      this.userData = {
        ...this.userData,
        [e.target.name]: e.target.value
      };
      console.log(this.userData);
    },
    ...mapMutations("cart", ["removeAllProducts", "setToast"]),
    changeCard(index) {
      this.chooseCards = index;
    },
    validateUser(toast) {
      if (this.chooseCards == 0 && Object.keys(this.user).length > 0) {
        if (this.user.addresses.length > 0) return false;

        this.setToast({
          isToastContent: toast
        });
        const newThread = setTimeout(() => {
          this.setToast({
            isToastContent: {
              ...toast,
              isToast: false
            }
          });
          clearTimeout(newThread);
        }, 4000);
        this.$router.push("/cabinet");
        return true;
      } else if (Object.keys(this.user).length == 0) {
        if (this.userData.name === "") {
          this.errorField = "Заполните имя";
          return true;
        } else if (this.userData.phone_number.length !== 16) {
          this.errorField = "Заполните номер телефона";
          return true;
        }
      }
      return false;
    },
    async sendOrder(e) {
      e.preventDefault();
      console.log(this.$refs.orderSendForm);
      this.$refs.orderSendForm.validate().then(async success => {
        if (!success) {
          console.log("unsuccess");
          return;
        }
        this.isSendStart = true;

        // console.log("1231231231");
        const toast = {
          isToast: true,
          content: "Пожалуйста добавьте адрес",
          backgroundColor: "#fa0a23"
        };
        // if(this.validateUser(toast)){
        //     return;
        // }
        const isDelivery = this.isDelivery == "Курьером";
        let defaultSendRequest = {
          items: this.items,
          delivery_status: isDelivery ? 1 : 0,
          pay_type: this.chooseCards == 1 ? 0 : 1
        };
        if (!this.$cookies.get("auth-token")) {
          this.checkedAddress = {
            home_number: this.userHome,
            street: this.userHome,
            stage: this.userStage,
            city: this.userCity,
            flat_number: this.userFlat,
            entrance: this.userEntrance
          };
        }
        defaultSendRequest = {
          ...defaultSendRequest,
          data_delivery: this.userBDay,
          time_delivery: this.userTime
        };
        console.log(this.userCity);
        defaultSendRequest = {
          ...defaultSendRequest,
          fullName: this.userData.name,
          phone_number: this.userData.phone_number
        };
        if (!isDelivery) {
          defaultSendRequest["address"] = this.userPickup;
        } else {
          defaultSendRequest = {
            ...defaultSendRequest,
            ...this.checkedAddress
          };
        }

        console.log(defaultSendRequest);
        this.$axios
          .post("/order/store", defaultSendRequest)
          .then(res => {
            if (this.chooseCards == 0) {
              defaultSendRequest = {
                ...defaultSendRequest,
                order_id: res.data.order_id
              };
              // const order = {items: res.data.items, order_id: res.data.order_id}
              this.$axios
                .post(
                  "https://api.melissaapteka.kz/api/pay",
                  defaultSendRequest
                )
                .then(res => {
                  window.location.href =
                    res.data.payLink +
                    `?OrderID=${res.data.orderId}&SessionID=${res.data.sessionId}`;
                  this.removeAllProducts();
                });
            } else {
              this.setToast({
                isToastContent: {
                  ...toast,
                  content: "Заказ подтвержден",
                  backgroundColor: "#4bb35c"
                }
              });
              const newThread = setTimeout(() => {
                this.setToast({
                  isToastContent: {
                    ...toast,
                    isToast: false
                  }
                });
                clearTimeout(newThread);
              }, 4000);
              this.$router.push("/");
              this.removeAllProducts();
            }
          })
          .catch(res => {});
      });
    }
  },
  async beforeMount() {
    if (!this.products.length) return;
    let requestString = "/cart/multiple?";
    this.products.forEach(product => {
      requestString += "id[]=" + product.id + "&";
    });
    this.$axios
      .$get(requestString)
      .then(data => {
        this.cartItems = data.products;
        this.cartItems.map(item => {
          if (
            item.images &&
            item.images.includes("\\") &&
            item.images.includes("[")
          ) {
            item.images = JSON.parse(item.images);
          }
        });
        this.$axios.$get("/deliveryPrice").then(res => {
          this.deliveryPrice = res.price;
        });
      })
      .catch(err => {
        console.error(err);
      });
    // this.$axios.$get('/order-create').then(res => {
    // })
  }
};
</script>

<style scoped lang="scss">
.button-send-order {
  position: relative;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
.validation-provider {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}
.input-invalid-message {
  color: tomato;
}
.address-inputs p {
  display: flex;
  flex-direction: column;
}
.address-inputs p label {
  margin-bottom: 0.5rem;
}
.address-inputs p:not(:last-child) {
  margin-bottom: 1rem;
}
.block-edit {
  cursor: pointer;
}
.addAddress {
  padding-bottom: 20px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &_inner {
    background-color: white;
    padding: 30px;
    & > p {
      & > input {
        border: none;
        border-bottom: 1px solid gray;
        outline: none;
      }
      label {
        font-size: 14px;
      }
      margin: 10px 0;
    }

    .addNewAddress {
      margin-top: 20px;
      & > span {
        background-color: #3bde15;
        color: white;
        width: auto;
        padding: 5px 15px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
.content_block {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}
.active_card {
  background-color: #05054b;
}
.another {
  display: flex;
}
.prices {
  padding: 13px 0;
  border-bottom: 1px solid #d4d4e1;
}
.prices_total,
.prices > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prices_total > span:last-child,
.prices > div > span:last-child {
  font-weight: 600;
}
.prices > div {
  margin-top: 10px;
}
.errorField {
  color: red;
  text-align: right;
}

.right_side {
  width: 28%;
  margin-bottom: 30px;
  & > div {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    padding: 24px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    height: auto;
  }
}
.right_side .products {
  margin-top: 14px;
}
.products_container {
  display: flex;
  padding: 13px 0;
  border-bottom: 1px solid #d4d4e1;
  img {
    height: 90px;
  }
}
.products_container .products_info {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.products_info > div {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.products_info > div > span:last-child {
  font-weight: 600;
}
.right_side h4 {
  color: #646570;
  font-size: 22px;
  font-weight: 500;
}

.another > div {
  text-align: center;
  margin-right: 20px;
  color: #606c66;
}
.another > div > div > img {
  width: auto;
  height: 54px;
}
.another > div > span {
  margin-top: 15px;
  display: inline-block;
}
.another > div > div {
  border: 1px solid #01004e;
  border-radius: 15px;
  padding: 12px;
}
.another .current {
  color: #37130f;
}
.content > h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.forms > form > button {
  cursor: pointer;
  border-radius: 20px;
  background: #05054b;
  padding: 14px 0;
  width: 30%;
  margin: 30px 0;
  border: none;
  color: white;
  font-weight: 600;
}
.forms {
  width: 60%;
}
.checkbox_container {
  margin-top: 32px;
}
.forms > form > div {
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
}
.forms > form > div > h4 {
  font-size: 22px;
  font-weight: normal;
}
.forms > form > div > div {
  margin-top: 30px;
}
.city_time .inner_inputs_child,
.your_data .inner_inputs_child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.inner_inputs_child label {
  width: 30%;
}
.address-inputs p input,
.city_time .inner_inputs_child input,
.your_data .inner_inputs_child input,
.city_time select,
.vd-wrapper {
  width: 100%;
  border-radius: 100px;
  box-sizing: content-box;
  border: 1px solid #d5d5d5;
  outline: none;
  font-size: 16px;
  padding: 7px 36px;
  box-sizing: border-box;
}
select {
  width: 60%;
  border-radius: 100px;
  box-sizing: content-box;
  border: 1px solid #d5d5d5;
  outline: none;
  font-size: 16px;
  padding: 7px 36px;
}
.your_data .inner_inputs_child textarea {
  width: 60%;
  border-radius: 10px;
  resize: none;
  font-size: 16px;
  height: 100px;
  border: 1px solid #d5d5d5;
  outline: none;
  padding: 7px 36px;
}
.condition p label {
  margin-left: 20px;
}
.condition p {
  margin-top: 10px;
}
@media screen and(max-width: 990px) and(max-width: 768px) {
  .content_block {
    flex-direction: column-reverse;
  }
  .content h2 {
    margin-top: 20px;
  }
  .right_side {
    width: 100%;
    box-sizing: border-box;
    & > div {
      box-sizing: border-box;
    }
  }
  .forms {
    width: 100%;
  }
}

.forms > form > .button--loading {
  background: #646570;
}
.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  right: 16px;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
</style>
