<template>
    <div class="page-inner">
        <div class="container">
            <LayoutBreadcrumbs
                :crumbs="breadcrumbs"
            />
            <h2>Партнеры</h2>
            <div class="icons">
                <div class="img" :key="partner.id" v-for="partner in partnersData">
                    <img :src="'https://api.melissaapteka.kz/storage/'+partner.image" alt="">
                </div>  
            </div>
        </div>
    </div>
</template>
<script>

export default {
    name: 'partners',
    data() {
        return {
            ceo:{},
            breadcrumbs: [
                {
                    title: 'Главная',
                    url: '/',
                },
                {
                    title: 'Контакты',
                    url: '/questions'
                }
            ],
        }
    },
    async asyncData({ $axios }) {
        let partnersData = await $axios.$get('/partners');
        partnersData = partnersData.partners;
        // console.log(partnersData)
        return {partnersData}
  },
}
</script>

<style scoped>

    h2{
        font-size: 28px;
        color: #3F414E;
        font-weight: 700;
        margin: 30px 0;
    }
    .icons{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }
    .icons div{
        padding: 20px;
        width: 175px;
        margin-left: 15px;
        border: 1px solid lightgray;
        margin-top: 15px;
    }
    .icons div img{
        height: 100%;
        width: 100%;
    }
</style>