<template>
  <div class="page-inner">
    <div class="container">
      <LayoutBreadcrumbs
        :crumbs="breadcrumbs"
      />
      <div class="policy-main">
        <h1 class="title">Политика конфиденциальности</h1>
        <div class="policy-text" v-html="policyData"></div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      ceo:{},
      breadcrumbs: [
        {
          title: 'Главная',
          url: '/',
        },
        {
          title: 'Политика конфиденциальности',
          url: '/policy'
        }
      ],
    }
  },
  async asyncData({ $axios }) {
    let policyData = await $axios.$get('/privacy-policy');
    policyData = policyData.PrivacyPolicy[0].content;
    return {policyData}
  },
}
</script>

<style lang="scss" scoped>
.policy-main {
  display: flow-root;
  margin-top: 24px;
  margin-bottom: 48px;
}
h1.title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 24px;
}
</style>