<template>
  <div class="verify-form">
    <h1 class="form-title">Сброс пароля</h1>
    <label for="verify-code">
      <span>Введите пароль</span>
      <input placeholder="********" type="password" id="verify-code" v-model="pass">
    </label>
    <label for="verify-code">
      <span>Подтвердите пароль</span>
      <input placeholder="********" type="password" id="verify-code" v-model="confirmPass">
      <span class="error-text" v-if="errorPassword">Пароль должен быть больше 8 символов, меньше 40</span>
    </label>
    <div class="send-code-btn" @click="reset">Сменить пароль</div>
    <!-- <span class="resend-time" v-if="timeToResend">Вы сможете повторно запросить код через {{timeToResend}} с.</span>
    <a class="resend-time" href="#" v-else @click.prevent="resendCode">Отправить код еще раз</a> -->
  </div>
</template>

<script>

export default {
  layout: 'login',
  data() {
    return {
      pass: '',
      confirmPass:'',
      errorPassword:false,
    }
  },
  methods: {
    reset() {
      if(this.pass.length < 8 || this.pass.length > 40){
        this.errorPassword = true
      }
      if(this.pass.length > 8 && this.pass.length < 40){
        this.errorPassword = false
      }
      if(this.pass === this.confirmPass && !this.errorPassword){
        this.$axios.$post('/password_update', {
          password: this.pass,
          password_confirmation: this.confirmPass,
          user_id:this.$route.query.user_id,
        }).then(res => {
          this.$cookies.set('auth-token', res.token);
          this.$router.push(`/login`);
        }).catch(err => {
          console.error(err)
        });
      }
    },
    // resendCode() {
    //   this.$axios.$post('/verification-resend', {
    //     phone_number: this.$route.query.phone,
    //   }).then(res => {
    //     let resendTime = setInterval(() => {
    //       this.timeToResend -= 1;
    //       if (this.timeToResend === 0) clearInterval(resendTime);
    //     }, 1000);
    //   }).catch(err => {
    //     console.error(err)
    //   })
    // }
  },

  middleware({ redirect, route }){
    if(typeof route.query.user_id === 'undefined') {
      redirect('/login')
    }
  }
}
</script>

<style lang="scss">
.error-text {
  color: #ff2626;
}
.verify-form {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  padding: 36px;
  background: #fff;
  border-radius: 12px;
  h1.form-title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    span {
      font-size: 14px;
      margin-bottom: 6px;
    }
    input {
      border: 1px solid #E3E4E8;
      font-size: 14px;
      padding: 12px 18px;
      outline: none;
      border-radius: 6px;
      &[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }
  .send-code-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 84px;
    background: #05054B;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 12px;
  }
  .resend-time {
    margin-top: 12px;
    font-size: 14px;
    text-align: center;
  }
}
</style>