<template>
    <div class="page-inner">
        <div class="container">
            <LayoutBreadcrumbs
                :crumbs="breadcrumbs"
            />
            <h2>Поиск</h2>
            <div v-if="products.length != 0">
                <div class="product_containers">
                    <product-card-vertical
                        v-for="(product, index) in products"
                        :key="index"
                        :name="product.full_name"
                        :price="product.discount_price ? product.discount_price : product.price"
                        :oldPrice="product.discount_price && product.price || null"
                        :discount="product.discount || null"
                        :productId="product.id"
                        :isFavorite="product.isFavorite || null"
                        :image="Array.isArray(product.images) ? product.images[0] : product.images"
                    />
                </div>

            </div>
            <div v-else>
                Не найдено
            </div>
        </div>
    </div>
</template>
<script>
import { defineComponent, useMeta, ref  } from '@nuxtjs/composition-api'

export default defineComponent({
  head() {
    return{
        title: this.title,
        meta: this.meta
    }
  },
    name: 'partners',
    data() {
        return {
            ceo:{},
            breadcrumbs: [
                {
                    title: 'Главная',
                    url: '/',
                },
                {
                    title: 'Поиск',
                    url: '/search'
                }
            ],
            products: []
        }
    },
    watch: {
        '$route.query.target': {
            handler: function(e){
                console.log(this.$route.query.target)
                this.$axios.get(`/itemdar/${this.$route.query.target}`).then(res => {
                this.products = res.data.items.data;
                this.products.map(item=>{
                if(item.images.includes("\\") && item.images.includes('[')){
                    item.images = JSON.parse(item.images)
                }
            })
                }).catch(res => {
                    if(res.response.status == 404) this.products = [];
                })
            },deep:true
        }
    },
    beforeMount(){
        console.log(this.$route.query.target)
        this.$axios.get(`/itemdar/${this.$route.query.target}`)
        .then(res => {
            this.products = res.data.items.data;
            this.products.map(item=>{
                if(item.images.includes("\\") && item.images.includes('[')){
                    item.images = JSON.parse(item.images)
                }
            })
        }).catch(res => {
            if(res.response.status == 404) this.products = [];
        })
    },
    computed: {
    title() {
      return this.ceo.title || 'Melissa'
    },
    meta(){
      if(this.ceo){
        return [
            {hid: 'keywords', name: 'keywords', content: this.ceo.keywords},
            {hid:'description', name:'description', content: this.ceo.description}
        ]
      }
    }
  },
})
</script>

<style scoped lang="scss">

    h2{
        font-size: 28px;
        color: #3F414E;
        font-weight: 700;
        margin: 30px 0;
    }
    .icons{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }
    .product_containers{
        display: flex;
        flex-wrap: wrap;
    }
    .icons div{
        padding: 20px;
        width: 28%;
        margin-left: 15px;
        border: 1px solid lightgray;
        margin-top: 15px;
    }
    .icons div img{
        height: 60px;
        width: 174px;
    }
</style>
